@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Account Geblokkeerd";
}

<hgroup class="title">
    <h1 class="error">@Page.Title.</h1>
    <h2 class="error">Uw account is geblokkeerd, omdat er te veel incorrecte inlogpogingen zijn geweest.</h2>
</hgroup>

<p>
    Maakt u zich geen zorgen, uw account wordt automatich gedeblokkeerd na 60 seconden.
    Probeer het na die tijd weer opnieuw.
</p>