@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Registratie Bevestigings Pagina";

    string message = "";
    var confirmationToken = Request["confirmationCode"];

    WebSecurity.Logout();
    if (!confirmationToken.IsEmpty()) {
        //if confirm code from request checks with the account, give message
        if (WebSecurity.ConfirmAccount(confirmationToken)) {
            message = "Uw registratie is voltooid! klik op het login knopje om in te loggen op de site.";
        } else {
            //if the confirm code does not check with the account, give errormessage
            message = "Uw registratie info kon niet bevestigd worden.";
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

@if (!message.IsEmpty()) {
    <p>@message</p>
} else {
    <form method="post">
        <fieldset>
            <legend>Vul uw bevestigings code hieronder in</legend>
            <ol>
                <li>
                    <label for="confirmationCode">Bevestigings code</label>
                    <input type="text" id="confirmationCode" name="confirmationCode" />
                </li>
            </ol>
            <input type="submit" value="Bevestigen" />
        </fieldset>
    </form>
}