@{
    // Set the layout page and page title
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Login Mislukt";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Onsuccesvolle login met service</h2>
</hgroup>
