@{
    // Set the layout page and page title
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bedankt voor het registreren";
}

@if (!WebSecurity.IsAuthenticated) {
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>Maar u bent nog niet klaar!</h2>
    </hgroup>

    <p>
        Een email met instructies om uw account te activeren is verstuurd naar uw email adres.
    </p>
} else {
    <hgroup class="title">
        <h1>@Page.Title.</h1>
        <h2>U bent klaar.</h2>
    </hgroup>

    <p>
        U heeft uw account al geactiveerd. U kunt inloggen.
    </p>
}