@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* Body en Navbar */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: black;
    background-color: whitesmoke;
    height: 100vh;
    color: #212121;
}

.navbar-default {
    background-color: #2196F3;
}

.navbar-default a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:active .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #00ccff;
}

/* Content for page list.cshtml */
.forms a {
    margin-top: 10px;
    color: blue;
}
#logoutForm a{
    margin: 15px; 
    display: block; 
    text-decoration: none;
    color: white;
}
#logoutForm a:hover {
    color: black;
}

#selectedbooks {
    margin-top: 0px; 
}

/* Cards */

.sortcard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.sortdivider {
    margin-top: 8px;
    margin-bottom: 8px;
}

.listcard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bookinfocard {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bookinfocard:hover {
    background-color: whitesmoke;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bookinfocard a span {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Put it on the front */
}

.bookinfoheading {
    position: relative;
    background-color: #2196F3;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bookinfoheading h3{
    font-weight: 600;
}

.bookinfobody {
    padding: 10px 10px 10px 10px;
}

.h3 a{
    color: white;
    font-size: 14px;
}

.panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.selectedTable {
    background-color: #0091EA;
}

.selectedTable td a {
    color: white;
}

.hallo{
    font-size: 3em;
}

.pdfViewer {
    height: 85vh;
    width: 100%;
    margin-top: 0px;
}
@media (min-width: 992px)
{
    .col-md-9 > .pdfViewer {
        margin-top: -10px;
    }
} 

/* Login Page */
.logincard {
    background: #fff;  
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px 20px 20px 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Default footer */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 30px; /* .push must be the same height as .footer */
}

.footer {
    color: black;
}