@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

/* Body en Navbar */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    background-color:#f2f2f2;
    height: 100vh;
    color: #212121;

    overflow-x:hidden;  
}
.row{
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-default {
    background-color: #2196F3;
}

.navbar-default a {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:active .icon-bar {
    background-color: white;
}

.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #00ccff;
}

/* Content for page list.cshtml */
.forms a {
    margin-top: 10px;
    color: blue;
}
#logoutForm a{
    margin: 15px; 
    display: block; 
    text-decoration: none;
    color: white;
}
#logoutForm a:hover {
    color: black;
}

#selectedbooks {
    margin-top: 10px; 
}

/* Form control elements */

.formfill{
    width: 100%;
}

/* Cards */

.sortcard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 10px 0px 0px 0px;
  padding: 10px 10px 10px 10px;
}

.sortdivider {
    margin-top: 8px;
    margin-bottom: 8px;
}

.sortList{
    list-style-type:none;
    margin-left: 10px;
    padding-left: 8px;
}

.listcard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.searchcard{
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow-y: hidden;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -2px;
}

.nav-tabs a {
    color: #212121;
}

.nav>li {
    position: relative;
    display: block;
    margin-left: -1px;
}

.bookinfocard {
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bookinfocard-deselected {
  position: relative;
  color: #757575;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.bookinfocard-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.bookinfocard a span {
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Put it on the front */
}

.bookinfoheading {
    position: relative;
    background-color: #2196F3;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bookinfoheading-deselected {
    position: relative;
    background-color: #757575;
    color: White;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bookinfoheading h3{
    font-weight: 600;
}

.bookinfobody {
    padding: 10px 10px 10px 10px;
}

.h3 a{
    color: white;
    font-size: 14px;
}

.panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.selectedTable {
    background-color: #BBDEFB;
}

.selectedTable:hover,
.deselectedtable:hover {
    background-color: #94c4eb;
    cursor: pointer;
}

.selectedTable td {
    color: #212121;
    font-weight: 300;
}

.deselectedtable td {
    color: #757575; 
    font-weight: 300;
}

.pdfViewer {
    height: 85vh;
    width: 100%;
    margin-top: 0px;
}
@media (min-width: 992px)
{
    .col-md-9 > .pdfViewer {
        margin-top: -10px;
    }
} 

/* Login Page */
.logincard {
    background: #fff;  
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px 20px 20px 20px;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

/* Default footer */
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 30px; /* .push must be the same height as .footer */
}

.footer {
    color: black;
}

/* Google Material input stylings */
.searchform{
    display: block;
    margin-top: 0px;
}

.group 			  { 
  position:relative; 
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.inputmaterial 				{
  font-size:12px;
  padding: 10px 5px 10px 10px;
  margin: 0px 0px 0px 0px;
  display: block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.inputmaterial:focus 		{ outline:none; }


.inputmaterial:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#FF5252;
}

.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#FF5252; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

.inputmaterial:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.inputmaterial:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
	from { background:#FF5252; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#FF5252; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#FF5252; }
  to 	{ width:0; background:transparent; }
}

/*.active{
    background-color: #286090 !important;
    color: white !important;
}*/

label input {
  visibility: hidden;/* <-- hide the default checkbox, the rest is to hide and alllow tabbing, which display:none prevents */
  display:block;
  height:0;
  width:0;
  position:absolute;
  overflow:hidden;
  user-select: none;
}
label span {/* <-- style the artificial checkbox */
  height: auto;
  width: 7vh;
  border: 1px solid grey;
  display: inline-block;
  padding: 2px;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
}
label .btn-toggleLeft {
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
}
label .btn-toggleRight {
    border-bottom-right-radius: 1vh;
    border-top-right-radius: 1vh;
}
[type=checkbox]:checked + span {/* <-- style its checked state */
  background: #2196F3;
}
