@{
    if (WebSecurity.IsAuthenticated)
    {
        Layout = "~/_BookListLayout.cshtml";
    }
    else
    {
        Layout = "~/_SiteLayout.cshtml";
    }

    Page.Title = "About";
}

 <div class="container">
     <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
             <div class="logincard">
                 <h4 class="text-center">Over ons</h4>
                 <hr />
                 <p>E-Books Online is een website gemaakt door groep 16 van het P3P WEB-applicatie project in opdracht van <a href="http://www.aswinvanwoudenberg.com/">Aswin van Woudenberg</a>.</p>
                 <p>De website is gebasseerd op het populaire E-Books management programma <a href="https://calibre-ebook.com/">Calibre</a>.</p>
             </div>
         </div>
     </div>
 </div>