@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>



<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:info.ebooks.online.cola@gmail.com">info.ebooks.online.cola@gmail.com</a></span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Adres:</h3>
    </header>
    <p>
        Rengerslaan 10<br />
        8917 DD Leeuwarden
    </p>
</section>