@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";

    if (WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/List");
    }
    else
    {
        Response.Redirect("~/Account/Login.cshtml");
    }
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="logincard">
                <h4>Welkom op Ebooks-Online</h4>
                <p>De beste Ebook manager te wereld.</p>
            </div>
        </div>
    </div>
</div>
