@{
    Page.Title = "Title goes here";
    Layout = "~/_BookListLayout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-md-1">
                <div class="btn-group-vertical" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">Auteur</button>
                    <button type="button" class="btn btn-default">Talen</button>
                    <button type="button" class="btn btn-default">Serie</button>
                    <button type="button" class="btn btn-default">Formats</button>
                    <button type="button" class="btn btn-default">Uitgever</button>
                    <button type="button" class="btn btn-default">Beoordeling</button>
                    <button type="button" class="btn btn-default">Nieuws</button>
                    <button type="button" class="btn btn-default">Tags</button>
                    <button type="button" class="btn btn-default">Aangevers</button>
                </div>
            </div>
            <div class="col-md-8 card">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Auteur</th>
                            <th>Datum</th>
                            <th>Grootte (mb)</th>
                            <th>Beoordeling</th>
                            <th>Tags</th>
                            <th>Serie</th>
                            <th>Uitgever</th>
                            <th>Uitgave-datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>Boekenhandel piet</td>
                            <td>09-01-1998</td>
                            <td>20mb</td>
                            <td>8/7</td>
                            <td>Pizza, Henk</td>
                            <td>Jager</td>
                            <td>Lone Wolf LTD</td>
                            <td>02-03-1990</td>
                        </tr>
                   
                        <tr>
                            <td>John</td>
                            <td>Boekenhandel piet</td>
                            <td>09-01-1998</td>
                            <td>20mb</td>
                            <td>8/7</td>
                            <td>Pizza, Henk</td>
                            <td>Jager</td>
                            <td>Lone Wolf LTD</td>
                            <td>02-03-1990</td>
                        </tr>
                    
                        <tr>       
                            <td>John</td>
                            <td>Boekenhandel piet</td>
                            <td>09-01-1998</td>
                            <td>20mb</td>
                            <td>8/7</td>
                            <td>Pizza, Henk</td>
                            <td>Jager</td>
                            <td>Lone Wolf LTD</td>
                            <td>02-03-1990</td>                      
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3 card">
                <h1>John</h1>
             
            </div>
        </div>
    </div>
</div>