@{
    Page.Title = "Boek verwijderen";
    Layout = "~/_BookListLayout.cshtml";

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Default.cshtml");
    }

    var db = Database.Open("StarterSite");
    var userId = WebSecurity.CurrentUserId;
    List<int> selectedId = Session["selectListId"] as List<int>;

    //als de Session is verlopen, en er geen selectie meer is:
    if (selectedId == null)
    {
        Response.Redirect("~/Default.cshtml");
    }
}

<div class="container">
    <div class="row">
        @{
            // Loop trough selected Book list.
            for (int i = 0; i < selectedId.Count; i++)
            {
                if (selectedId[i] != 0)
                {
                    // Select book Info
                    var bookInfo = db.QuerySingle("SELECT * FROM Books WHERE Id = @0", selectedId[i]);
                    <div class="col-lg-4 col-sm-6">
                        <div class="bookinfocard">

                            <div class="bookinfoheading">
                                <h3 class="panel-title text-center">@bookInfo.Titel</h3>
                            </div>

                            <div class="bookinfobody">
                                <div class="col-sm-6">
                                    <img src="~/img/Enchantment-Book-Cover-Best-Seller1.jpg" alt="bookcover" width="100" text-align="center" />
                                </div>
                                <div class="col-sm-6">
                                    <h5>Auteur:</h5>
                                    <p>@bookInfo.Titel</p>
                                    <h5>Taal</h5>
                                    <p>@bookInfo.Taal</p>
                                </div>
                                <div class="col-sm-12">
                                    <h5>Beschrijving</h5>
                                    <p>@bookInfo.Beschrijving</p>
                                </div>
                                <p></p>
                            </div>

                        </div>
                    </div>
                }
            }
        }
    </div>
</div>