@{
    Page.Title = "Boek verwijderen";
    Layout = "~/_BookListLayout.cshtml";

    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Default.cshtml");
    }

    var db = Database.Open("StarterSite");
    var userId = WebSecurity.CurrentUserId;
    List<int> selectedId = Session["selectListId"] as List<int>;

    //als de Session is verlopen, en er geen selectie meer is:
    if (selectedId == null)
    {
        Response.Redirect("~/Default.cshtml");
    }

    int selectedbooks = 0;
    foreach (int i in selectedId)
    {
        if (i != 0)
        {
            selectedbooks++;
        }
    }
    if (selectedbooks <= 0)
    {
        Response.Redirect("~/Default.cshtml");
    }

    if (IsPost)
    {
        if (Request.Form["actionButton"] == "No")
        {
            Response.Redirect("~/List.cshtml");
        }
        else if (Request.Form["actionButton"] == "Yes")
        {
            for (int i = 0; i < selectedId.Count; i++)
            {
                if (selectedId[i] != 0)
                {
                    string fileName = db.QueryValue("SELECT Path FROM Books WHERE Id=@0 AND Gebruiker=@1", selectedId[i], userId);
                    if (fileName != null && !fileName.IsEmpty())
                    {
                        string filePath = Server.MapPath("Files/EPUB/" + fileName + ".epub");
                        File.Delete(filePath);
                        filePath = Server.MapPath("Files/MOBI/" + fileName + ".mobi");
                        File.Delete(filePath);
                        filePath = Server.MapPath("Files/PDF/" + fileName + ".pdf");
                        File.Delete(filePath);

                        db.Execute("DELETE FROM Books WHERE Id=@0 AND Gebruiker=@1", selectedId[i], userId);
                    }
                }
            }

            Session["selectList"] = null;
            Session["selectListId"] = null;

            Response.Redirect("~/List");
        }
    }
}

<div class="container">
    <h2>Verwijderen</h2>
    @if (selectedbooks == 1)
    {
        <p>Weet u zeker dat u het volgende boek wilt verwijderen?</p>
    }
    else
    {
        <p>Weet u zeker dat u de volgende @selectedbooks boeken wilt verwijderen?</p>
    }

    <form method="post">
        <button class="btn btn-danger accent-color" name="actionButton" value="Yes">Ja, verwijderen</button>
        <button class="btn btn-default" name="actionButton" value="No">Nee, behouden</button>
    </form>
    <hr />
</div>
        
<div class="container">
    <div class="row">
        @{
            // Loop trough selected Book list.
            for (int i = 0; i < selectedId.Count; i++)
            {
                if (selectedId[i] != 0)
                {
                    // Select book Info
                    var bookInfo = db.QuerySingle("SELECT * FROM Books WHERE Id = @0", selectedId[i]);
                    <div class="col-md-4 col-sm-6">
                        <div class="bookinfocard">
                            <div class="bookinfoheading">
                                <h3 class="panel-title text-center">@bookInfo.Titel</h3>
                            </div>

                            <div class="bookinfobody">
                                <div class="row">
                                    <div class="col-xs-5">
                                        <img src="~/img/Enchantment-Book-Cover-Best-Seller1.jpg" alt="bookcover" text-align="center" class="img-responsive" />
                                    </div>
                                    <div class="col-xs-7">
                                        <h5>Auteur:</h5>
                                        <p>@bookInfo.Titel</p>
                                        <h5>Taal</h5>
                                        <p>@bookInfo.Taal</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h5>Beschrijving</h5>
                                        <p>@bookInfo.Beschrijving</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                }
            }
        }
    </div>
</div>