@using Microsoft.Web.Helpers;
@using iTextSharp;
@using iTextSharp.text;
@using iTextSharp.text.pdf;
@using System.Diagnostics;

@{
    Layout = "~/_BookListLayout.cshtml";
    var fileName = "";

    if (IsPost)
    {
        var uploadedFile = Request.Files[0];
        Random rnd = new Random();
        fileName = Path.GetFileName(uploadedFile.FileName);
        var fileSavePath = Server.MapPath("~/Books/Files/Convert/" + fileName);
        uploadedFile.SaveAs(fileSavePath);
        var fileSavePathPdf = fileSavePath.Split('.')[0] + ".pdf";

        System.Diagnostics.Process process = new System.Diagnostics.Process();
        System.Diagnostics.ProcessStartInfo startInfo = new System.Diagnostics.ProcessStartInfo();
        startInfo.WindowStyle = System.Diagnostics.ProcessWindowStyle.Hidden;
        startInfo.FileName = "ebook-convert.exe";
        startInfo.Arguments = "\"" + @fileSavePath + "\" \"" + @fileSavePathPdf + "\"";
        process.StartInfo = startInfo;
        process.Start();
    }

}
<h1>Boek toevoegen.</h1>
<b>Bestand : </b><i>@fileName</i>
@FileUpload.GetHtml(
        name: "files",
        initialNumberOfFiles: 1,
        allowMoreFilesToBeAdded: false,
        includeFormTag: true,
        uploadText: "Upload")
@if (IsPost)
{

}