@{
    Page.Title = "Boek verwijderen";
    Layout = "~/_BookListLayout.cshtml";

    var titel = "";
    var id = "";
    var db = Database.Open("StarterSite");
    var gebruiker = WebSecurity.CurrentUserName;

    if (WebSecurity.IsAuthenticated)
    {
        id = Request.QueryString["Id"];
        var command = "SELECT Books.Titel, Books.Id, Books.Gebruiker, UserProfile.UserId, UserProfile.Email FROM Books, UserProfile WHERE Books.Gebruiker = UserProfile.UserId AND Books.Id = @0 AND UserProfile.Email = @1";
        var row = db.QuerySingle(command, id, gebruiker);
        if (row != null)
        {
            titel = row.Titel;
        }
        else
        {
            Validation.AddFormError("Dit boek bestaat niet.");
        }
    }
    else
    {
        Validation.AddFormError("Je hebt hier geen rechten voor.");
        Response.Redirect("~/Default.cshtml");
    }

    if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].AsInt() > 0 && IsPost && WebSecurity.IsAuthenticated)
    {
        id = Request.Form["id"];

        var delete = "DELETE FROM Books WHERE Id = @0";
        db.Execute(delete, id);
        Response.Redirect("~/List.cshtml");
    }
}

@Html.ValidationSummary()
<h2>Verwijderen</h2>
<p><a href="~/Books/BooksView.cshtml">Terug naar mijn boekenlijst</a></p>

<form method="post">
    <fieldset>
        <p>
            <span>Titel van het boek:</span>
            <span>@titel</span>
        </p>
        <input type="hidden" name="id" value="@id" />
        <p><input type="submit" name="Delete" value="Verwijder dit boek"/></p>
    </fieldset>
</form>